.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .product {
    background: #1a1a1a;
    color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
  }
  
  /* Añadir más estilos según necesites */
  